

 body {
  background-color: #EEEEEE;
}

.header {
  padding: 20px;
  background-img: url ("miles-davis.jpg");
  }
 
 h1 {
   color: #5FFF;
   font-family: arial;
   float: right;
 }

 h4 {
   color: #eeb422;
   font-family: arial;
   float: right;
   }
  
.box {
  width: 15%;
  display: block;
  float: left;
  border-radius: 1px;
  border-color: #0000;
  background-color: #BC4639;
  text-align: center;
  padding: 5%;
}

.box-container {
  border-radius: 1px;
  border-color: #0000;
  background-color: #000; 
}

.box:hover .image {
  opacity: 0.3;
}

.box_container:hover .middle {
  opacity: 1;
}

.footer {
  background-color: #000;
  padding: 20px;
}

a {
text-decoration: none;
cursor: pointer;
}