

  body { 
  color: #59253A;
  height: 100%;
  width: 100%;
  }
  
  header {
    background-color: @59253A;
    padding-bottom: 5%;
    display: block; 
    }
  
  a {
  color: #EEE2DC;
  text-decoration: none;
  }
  
    
  .button {
   padding-left: 5px;
   padding-right: 5px;
}
  
  footer {
  background-color: #123C69;
  padding: 2%;
  width: 100%;
  }
  
  footer > p {
  color: #EEE2DC;
  }
