  body { 
  background-color: #EEE2DC;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
  .jumbotron {
  background-color: #AC3B61;
  color: #EEE2DC;
  }
  
  a {
  color: #EEE2DC;
  text-decoration: none;
  }
  
  a:hover {
  background-color: #123C69;
  color: white;
  }
  
  .nav-item {
  color: #BAB2B5;
  }
  
  .carousel-inner {
  padding-bottom: 5%;
  }
  
  footer {
  background-color: #123C69;
  padding: 5%;
  width: 100%;
  }
  
  footer > p {
  color: #EEE2DC;
  }
